#header, #instructions, #targetScore, #scoreBox, #message, #userScore, #crystals{
	margin: 1%;
        font-family: "Georgia", "Times", "serif";
}

#header, #userScore {
         padding: 1%;
}

#header {
	background:#c97127;
	color: #fdfce8;
        font-size: 28px;
        font-weight: normal; 
}

#header, #targetScore{
        height: 100px;
}

#instructions {
	background: #fbe7cc;
	color: #9daf5d;
        font-family: "Arial", "Sans-serif";
        font-size: 18px;
        padding-bottom: 5%;
        padding-top: 2%;
}

#targetScore {
	background: #5bc880;
	color: #614360;
}

#scoreBox {
	background: #4bfdfc;
	color: #39cfbc;
}

#message, #userScore {
	background: #2ca294;
	color: #bee5e4;
      
}

.crystalImage {
        margin: 1%;
        height: 90px;
        width: 70px;
}

#footer {
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: #fff;
        color: #ccc;
        text-align: center;
        background: rgb(12,42,86);       
        border-top: 8px solid rgb(99,129,135);
        
}
